<div>
  <%= form_with(model: @recipe, url: "/users/#{:user_id}/recipes", method: :post, local: true) do |form| %>
    <%= form.label(:name, "name") %>
    <%= form.text_field :name %>
     <%= form.label(:preparation_time, "Preparation time") %>
    <%= form.text_field :preparation_time %>
    <%= form.label(:cooking_time, "cooking time") %>
    <%= form.text_field :cooking_time %>
     <%= form.label(:description, "description") %>
    <%= form.text_area :description %>
    <%= form.check_box(:public) %>
<%= label_tag(:public, "Public") %>
    <%= form.submit "Add Recipe" %>
  <% end %>
</div>