<h1>Recipe <%= @recipe.id %></h1>
<p><%= @recipe.name %></p>
<p><%= @recipe.preparation_time %></p>
<p><%= @recipe.cooking_time %></p>

    <p><%= @recipe.description %></p>


    <button><%= link_to ("Add ingredient"), "/users/#{:user_id}/recipes/#{:recipe_id}/recipe_foods/new"%></button>


    